.alert-enter {
  transform: translateX(100%);
}
.alert-enter-active {
  transform: translateX(0);
  transition: all 250ms linear;
}
.alert-enter {
  transform: translateX(100%);
}
.alert-enter-active {
  transform: translateX(0);
  transition: all 250ms linear;
}
.alert-exit {
  transform: translateX(0);
}
.alert-exit-active {
  transform: translateX(100%);
  transition: all 250ms linear;
}
